#activity {
    padding: 0rem 1rem;
}

#activity table {
    width: 100%;
    border: solid 1px #000;
    border-spacing: 0px;

    tr {
        border: 1px solid #000;
    }

    th, td {
        border: 1px solid #000;
        text-align: center;
    }
}